#banner{
	margin-bottom: 20px;
	height: 160px;
	width: 100%;
	font-size: 48pt;

}
#banner_color{
	position: absolute;
	background: #003366;
	height: 160px;
	width: 100%;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
	border-radius: 20px;
}
#banner_title{
	color: #CCCC99;
	margin: 30px 0px 0px 50px;
	width: 325px;
	height: 100px;
	-moz-box-shadow: -15px -10px 2px 1px #FFFFFF;
    -webkit-box-shadow: -15px -10px 2px 1px #FFFFFF;
    box-shadow: -15px -10px 2px 1px #FFFFFF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

}
#banner_title a{
	font-family: "Bernard MT Condensed" "Impact";
	font-variant: normal;
	font-size: 50pt;
}
#signout {
	font-size: 20pt;
	color: #CCCC99;
	float: right;
	padding-right: 20px;
}
a{text-decoration: none;}
a img{text-decoration: none;
	  border: 0 none;}
a:link {
	color: #b0b17a;
	font-variant: small-caps;
	font-size: 20pt;
}
a:visited {
	color: #b0b17a;
}
a:hover {
	color: black;
}
a.subMenu {
	margin-left: 20px;
	font-size: 16pt;
}
#outerContainer {
	margin: 0 auto;
	width: 100%;
}

#contentContainer {
	margin: 0px auto;
	width: 100%;
	height: 100%;
	position: relative;
	padding-left: 1em;
	padding-right: 1em;
}
#navMenu {
	font-size: 20pt;
	float: left;
	width: 180px;
	/* border-right: 2px solid #000000; */
	padding: 1em;
	background-color: #666699;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
	border-radius: 20px;
}
#rightContent {

	background-position: 0px;
	margin-left: 275px;
	padding: 2em;
}

#table_wrap{
	width: 100%;
}
#product_table img{
	height: 100px;
	width: 100px;
}

h2 {
	font-family:"Big Caslon";
	font-size: 24pt;
	font-variant: small-caps;
}
.feedData {
	font-family: "Gill Sans";
	font-size: 18pt;
}

#map_div { 
height: 400px; 
width: 600px; 
margin-left: auto; 
margin-right: auto; 
padding-top: 50px;
padding-left: 100px; 
}
  
#map_canvas { height: 100% }

.vendor {
font-size: 20px;
margin-left: 275px;
}